# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# build stuff
bin/*
bin-int/*
*/bin/*
*/bin-int/*
gl_sandbox/vendor/glad/bin/*
gl_sandbox/vendor/glad/bin-int/*

# premake
.premake/*

# VS
.vs/*
*/.vs/*
*.sln
*/*.vcxproj
*/*.vcxproj.user
*/*.vcxproj.filters
gl_sandbox/vendor/glad/*.vcxproj.filters

#GLFW
*/glfw/*

# Makefiles
Makefile
run.sh

#Codelite
*/.codelite
.codelite
*/.ctagsd
.ctagsd
*.workspace
*.project
compile_flags.txt
radrenderer.mk
radrenderer.txt
pch.h.gch

