# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# build stuff
bin/*
bin-int/*
*/bin/*
*/bin-int/*
toy_box/vendor/glad/bin/*
toy_box/vendor/glad/bin-int/*

# premake
.premake/*

# VS
.vs/*
*/.vs/*
*.sln
*/*.vcxproj
*/*.vcxproj.user
*/*.vcxproj.filters

# GLFW
*/glfw/*

# GLAD
toy_box/external/glad/bin/*
toy_box/external/glad/bin-int/*
toy_box/external/glad/GLAD.vcxproj
toy_box/external/glad/GLAD.vcxproj.filters
toy_box/external/glad/GLAD.vcxproj.user

# Makefiles
Makefile
run.sh

# Codelite
*/.codelite
.codelite
*/.ctagsd
.ctagsd
*.workspace
*.project
compile_flags.txt
pch.h.gch

# CMake
build
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# VS Code
.vscode/

# CLion
.idea/
cmake-build-debug/
